logging:
  level:
    xyz.mainapi: INFO

spring:
  datasource:
    url: jdbc:mariadb://localhost:3307/dashboard
    username: dashboard
    password: dashboard
    hikari:
      data-source-properties:
        useServerPrepStmts: true
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        cache:
          use_second_level_cache: true
          region:
            factory_class: com.hazelcast.hibernate.HazelcastCacheRegionFactory
        jdbc:
          time_zone: UTC
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://${auth0.domain}/

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /api-docs/ui

management:
  info:
    git:
      mode: full

auth0:
  domain: myapp.us.auth0.com
  client-id: myappclientid
  client-secret: myappclientsecret
  management-api-id: https://${auth0.domain}/api/v2/

minio:
  endpoint: https://s3.myapp.com
  access-key: s3accesskey
  secret-key: s3secretkey
