logging:
  level:
    xyz.mainapi: INFO

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://${auth0.domain}/

management:
  info:
    git:
      mode: full

auth0:
  domain: myapp.us.auth0.com
  client-id: myappclientid
  client-secret: myappclientsecret
  management-api-id: https://${auth0.domain}/api/v2/

minio:
  endpoint: https://s3.myapp.com
  access-key: s3accesskey
  secret-key: s3secretkey
